* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.text-orange {
  color: orangered;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  background-color: orangered;
  padding-bottom: 0.5rem;
}
.heading {
  letter-spacing: 2px;
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0) !important;
}

.home-img img{
  height:300px;
  width: 300px;
  border-radius: 50%;
}