* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  
}


.text-orange {
  color: orangered;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  background-color: orangered;
  padding-bottom: 0.5rem;
}
.heading {
  letter-spacing: 2px;
}

/* .section-bg{
  background-image: url("https://t4.ftcdn.net/jpg/06/72/79/91/360_F_672799194_m224ovXpZehcFxmkACtqWukmFChy0NPZ.jpg")!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width:100vw;
} */
.transparent-input {
  background-color: rgba(0, 0, 0, 0) !important;
  
}

.home-img img{
  height:300px;
  width: 300px;
  border-radius: 50%;
}


